# Electron 镜像（必配）
electron_mirror=https://npmmirror.com/mirrors/electron/
# 或 CDN 版：
# electron_mirror=https://cdn.npmmirror.com/binaries/electron/

# 配套：electron-builder 镜像（打包时用）
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/